@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@500;600;700&family=Open+Sans:wght@300;500;600;700&family=Quicksand:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --main-color: #ff005e;
  --secondary-color: #b20077;
  --white-color: #fff;
  --back-color: #000;
  --font-spacing: 0.3rem;
  --main-font: 'lato', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --transition: all 0.3s;
  --spacing: 0.1rem;
  --radius: 15px;
  --drop-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--main-font);
  background-color: var(--back-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5rem;
  font-family: var(--main-font);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.container {
  padding: 1rem 20%;
}

nav {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li a {
  color: var(--white-color);
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
}

nav ul li a:hover {
  color: var(--main-color);
}

.logo img {
  width: 12%;
}

/* Movie-deck section */

.category {
  display: flex;
  margin-top: 80px;
  margin-bottom: -140px;
}

.category i {
  color: var(--main-color);
  font-size: 1.4rem;
}

hr {
  width: 100%;
  height: 0.5px;
  color: var(--white-color);
}

.movies-deck {
  margin: 8% auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
}

.image img {
  width: 90%;
  margin-bottom: 20px;
  border-radius: var(--radius);
}

button {
  padding: 8px 15px;
  background: var(--main-color);
  color: var(--white-color);
  font-size: 1rem;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
}

.comment-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-likes i {
  font-size: 1rem;
  margin-left: -20px;
}

.comment-likes span {
  margin-right: 30px;
}
