@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@500;600;700&family=Open+Sans:wght@300;500;600;700&family=Quicksand:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

:root {
  --main-color: #ff005e;
  --secondary-color: #b20077;
  --white-color: #fff;
  --back-color: #000;
  --font-spacing: 0.3rem;
  --main-font: 'lato', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --transition: all 0.3s;
  --spacing: 0.1rem;
  --radius: 15px;
  --drop-shadow: 0 5px 12px rgba(0, 0, 0, 1.8);
}

body {
  font-family: var(--main-font);
  background-color: var(--back-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5rem;
  font-family: var(--main-font);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.container {
  padding: 1rem 10%;
}

nav {
  margin-top: 45px;
  display: flex;
}

nav ul {
  display: flex;
  gap: 60px;
  align-items: center;
}

nav ul li a,
.counter {
  display: flex;
  flex-direction: row;
  color: var(--white-color);
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
}

nav ul li a:hover {
  color: var(--main-color);
}

.active {
  color: var(--main-color);
}

.logo {
  flex-basis: 30%;
}

.logo img {
  width: 35%;
}

.navLink {
  flex-basis: 60%;
}

/* Movie-deck section */

.category {
  display: flex;
  margin-top: 80px;
  margin-bottom: -120px;
}

.category i {
  color: var(--main-color);
  font-size: 1.4rem;
}

hr {
  width: 100%;
  height: 0.5px;
  color: var(--white-color);
}

.movies-deck,
.movies-deck2 {
  margin: 8% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
}

.image img {
  width: 90%;
  margin-bottom: 20px;
  border-radius: var(--radius);
}

.image img:hover {
  border: solid 0.2rem #fff;
}

button {
  padding: 6px 12px;
  background: var(--main-color);
  color: var(--white-color);
  font-size: 0.8rem;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
}

button:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.comment-likes {
  width: 70%;
  gap: 10px;
  display: flex;
  align-items: center;
}

.comment-likes i {
  font-size: 1rem;
}

.comment-likes i:hover {
  color: var(--secondary-color);
}

footer {
  border-top: 2px solid #fff;
}

footer p {
  font-size: 0.9rem;
}

.footerlink {
  color: var(--main-color);
}

.background {
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup-flex {
  width: 35%;
  max-height: 550px;
  padding: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #ff007f;
  overflow-y: scroll;
}

#title {
  color: #000;
}

.genre {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movieCount {
  background: #b20077;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: #fff;
}

.commentalign {
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
}

.movieInfo {
  font-size: 1.6rem;
  line-height: 1.2rem;
}

.popupspacing {
  margin-top: 1rem;
}

.nodisplay {
  display: none;
}

#popupimage {
  width: 45%;
  height: auto;
  box-shadow: var(--drop-shadow);
  border-radius: 10px;
}

#popupcancel {
  width: 2rem;
  height: 2rem;
  color: #b20077;
}

input,
textarea {
  width: 110%;
  padding: 15px;
  border-radius: 8px;
}

.formSubmit {
  margin-top: 1.2rem;
  padding: 12px 28px;
  background: var(--secondary-color);
  color: var(--white-color);
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  box-shadow: var(--drop-shadow);
}

.formSubmit:hover {
  background: var(--white-color);
  color: var(--secondary-color);
  box-shadow: var(--drop-shadow);
}

/* media queries */

@media (min-width: 1024px) {
  .container {
    padding: 1rem 10%;
  }

  .image img {
    width: 70%;
  }

  .comment-likes i {
    font-size: 1rem;
    margin-left: 50px;
  }

  .comment-likes span {
    margin-right: 90px;
  }
}
